<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0b357aac56.js" crossorigin="anonymous"></script>
        <title>Mercado Liebre</title>
    </head>
    <body>
        <!--inicio de pagina-->
        <header class="nav">
           <div class="logo">
            <img src="images/logo-mercado-liebre.svg" alt="logo de la tienda">
           </div>
            <div class="navbar1">
            <input type="text" placeholder="Buscar productos, marcas">
              <div class="iconnav">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
              </div> 
           <div class="cred">
            <p><i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de credito</p>
           </div>
        </header>
        
        <!-- NAVEGACION -->
        <nav class="navbar">
            <ul class="item">
                <li><a href="/">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="item2">
                <li><a href="/register">Creá cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
        </nav>
        <div class="box">
        <div class="burger-menu"> 
            <div class="icon1">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <h1>Creá Cuenta</h1>
            <form action="#" method="post">
                <label for="name">Nombre y apellido:</label>
                <input type="text" id="name" name="name" required>
    
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" required>
    
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="birthdate">Fecha de nacimiento:</label>
                <input type="date" id="birthdate" name="birthdate" required>
    
                <label for="address">Domicilio:</label>
                <textarea id="address" name="address" rows="4" cols="50" required></textarea>
    
                <fieldset>
                    <legend>Perfil del usuario:</legend>
                    <input type="radio" id="buyer" name="user_profile" value="buyer" required>
                    <label for="buyer">Comprador</label><br>
                    <input type="radio" id="seller" name="user_profile" value="seller" required>
                    <label for="seller">Vendedor</label>
                </fieldset>
    
                <fieldset>
                    <legend>Intereses:</legend>
                    <input type="checkbox" id="electro" name="interests[]" value="electro" required>
                    <label for="electro">Electro</label><br>
                    <input type="checkbox" id="moda" name="interests[]" value="moda" required>
                    <label for="moda">Moda</label><br>
                    <input type="checkbox" id="home" name="interests[]" value="home" required>
                    <label for="home">Hogar</label><br>
                    <input type="checkbox" id="toys" name="interests[]" value="toys" required>
                    <label for="toys">Juguetería</label><br>
                    <input type="checkbox" id="health" name="interests[]" value="health" required>
                    <label for="health">Vida sana</label><br>
                </fieldset>
    
                <button type="submit">Register</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="gift">
            <i class="fa-solid fa-credit-card"></i>
        </div>
        <h5 class="item1">Pagá con tarjeta o en efectivo</h5>
        <p class="item">Con MercadoLiebreCash tenés cuotas sin 
        interés con tarjeta o efectivo en puntos de
        pago. ¡Y siempre es seguro!</p>
        <div class="gift">
            <i class="fa-solid fa-gift"></i>
        </div>
        <h5 class="item1">Envio gratis desde los $ 2.500</h5>
        <p class="item">Solo por estar registrado en Mercado liebre
            tenés envíos gratis en miles de productos. Es
            un beneficio de Mercado Puntos
        </p>
        <div class="gift">
            <i class="fa-solid fa-user-shield"></i>
        </div>
        <h5 class="item1">Seguridad de principio a fin</h5>
        <p class="item">¿No te gusta?¡Devolvelo! En MercadoLiebre
            no hay nada que no puedas hacer porque estás
            siempre protegid@
        </p>
        <p class="f">copyright © 1999-2020 MercadoLiebre S.R.L </p>
    </footer>
</body>
</html>